<launch>
    <param name = 'device' value = 'Quattrocento' />
    <param name = 'method' value = 'RMS' />
    <param name = 'latency_analyzer' value = 'False' />
    <param name = 'side' value = 'Left' />
    <param name = 'muscle_count' value = '1' />
    <param name = 'sampling_frequency' value = '512' />
    <param name = 'num_trials' value = '1' />
    <param name = 'pwm_output_pin' value = '33' />
    <param name = 'file_dir' value = '$(find talker_listener)' />

    <param name = 'gui_completed' value = 'False'/>
    <param name = 'connected_to_emg' value = 'False'/>
    <param name = 'calibrated' value = 'False'/>

    <node name = 'emg_stream_node' pkg = 'talker_listener' type = 'emg_stream_node.py' output = 'screen' />
    <node name = 'calibrate_node' pkg = 'talker_listener' type = 'calibrate_node.py' output = 'screen' />

    <group if = '$(eval device == "sim")'>
        <node name = 'torque_file_streamer' pkg = 'talker_listener' type = 'torque_file_streamer' output = 'screen' />
    </group>

    <include file = '$(find h3_launch)/launch/h3_launch_torque_control.launch' />

</launch>
