<launch>
    <rosparam file="$(find h3_control_client)/config/h3_group_position_controller.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/h3" args="/h3/joint_state_controller
    /h3/joint_group_position_controller
    /h3/robot_config_controller
    /h3/robot_state_controller">
    </node>

</launch>
